@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --color-primario: white;
    --color-segundario: black;
    --color-terciario: #1f88df;

    --fuente-Montserrat: 'Montserrat' sans serif;
    --fuente-krona: 'krona one' sans serif;
}

* {
    padding: 0;
    margin: 0;
}

body {

    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-segundario);

    height: auto;


}

.header {
    padding: 2% 0 0 15%;

}

.header__menu {
    display: flex;
    gap: 80px;


}

.header__menu__link:hover {

    background-color: var(--color-terciario);

}

.header__menu__link {
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5 rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    gap: 1px;

}

.contenedor {
    display: flex;
    justify-content: center;
    background: rgb(41, 83, 201, 0.6);
    padding-left: 10px;
    margin-right: 30%;
    margin-left: 20%;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 8%;
    box-shadow: 10px 5px 5px black;
    gap: 20px;
    color: var(--color-primario);
  

}


.container {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;


}

.input{
    border-color: var(--color-terciario);
    border-radius: 4px;
}
.input1,
.input2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 200px;
    height: 40px;
    border-color: var(--color-primario);
    margin-top: 10px;
    margin-bottom: 20px;
}






.formulario h1 {
    color: var(--color-primario);
    margin-top: 10px;
    margin-bottom: 10px;


}

.formulario p {
    color: var(--color-primario);
    font-family: var(--fuente-krona);
    margin-right: 90px;

}



textarea {
    background-color: #fbfbfb;
    width: 408px;
    height: 100px;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--color-primario);
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
}


label {
    display: block;
    float: center;
}


.button {
    width: 30%;
    height: 5px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5 rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 1px;
    background-color: var(--color-primario);

}

.button:hover {

    background-color: rgb(179, 179, 184);


}




span {
    color: var(--color-primario)
}


.aviso {
    font-size: 13px;
    color: #0e0e0e;
}


::-webkit-input-placeholder {
    color: var(--color-terciario);
}


::-webkit-textarea-placeholder {
    color: var(--color-terciario);
}


.formulario input:focus {
    outline: 0;
    border: 1px solid var(--color-terciario);
}


.formulario textarea:focus {
    outline: 0;
    border: 1px solid var(--color-terciario);
}



.footer {
    font-size: x-large;
    color: var(--color-primario);
    display: flex;
    justify-content: center;
    font-size: 1.5 rem;
    height: 70px;
    padding-top: 30px;
    font-size: x-large;
    background: rgb(41, 83, 201, 0.6);

}

@media (max-width:1250px) {

    .header {
        padding: 10%;
    }

    .header__menu {
        flex-direction: column;
        justify-content: center;
        gap: 30%;
        align-items: center;
    }

    .contenedor {
        margin-top: 0px;
        padding-right: 0px;
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        align-items: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
        gap: 8px;

    }

    .formulario h1 {
        font-size: 20px;
        display: flex;
        margin-left: 180px;
    }

    .input1,
    .input2 {
        display: flex;
      
        margin-left: 10px;
        width: 28%;

    }

    .textarea {
        display: flex;
        width: 40%;
        margin-left: 180px;
    }

    .button {
        width: 28%;
        display: flex;
        margin-left: 180px;
    }
    .aviso{
        display: flex;
        width: 40%;
        margin-left: 180px;
    }
    .footer{
        display: flex;
        padding-left: 10px;
       
       
    }
}