
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --color-primario: white;
    --color-segundario: black;
    --color-terciario: #1f88df;

    --fuente-Montserrat: 'Montserrat' sans serif;
    --fuente-krona: 'krona one' sans serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
       
        align-items: center;
        justify-content: center;
        height: 200px;
        
    background: url(../assets/2.jpg) no-repeat center top;


}

.header {
    padding: 2% 0 0 15%;
    position: relative;

}

.header__menu {
    display: flex;
    gap: 80px;
    


}

.header__menu__link:hover {

    background-color: var(--color-terciario);

}

.header__menu__link {
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5 rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-segundario);
    display: flex;
    justify-content: center;
    gap: 1px;


}

.general{
    display: flex;
    margin-top:.4% ;
    
}

.horizontal{
    display: flex;
    justify-content: center;
    margin-left: 35%;
}

.vertical{
    display: flex;
    justify-content: end;
    margin-right: 50%;
    position: absolute;
    margin-top: 10%;
    margin-left: .2px;

}






.card {
    position: relative;
    width: 200px;
    height: 200px;   
    gap: 8px;
    margin: 30px;
    margin-top: 4%;
    transform-style: preserve-3d;
      
}

.card div {
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
    transform-style: preserve-3d;
   
}

.card .front {
   
    transform: perspective(500px) rotateY(0deg);
    border-color: var(--color-terciario);
    border: 1px solid var(--color-terciario);
    border-radius: 20px;
    transform: translateZ(60px);
    z-index: 1;
    background-color: rgb(41, 83, 201, 0.6);
}

.card .back {
    background: #682fc4;
    transform: perspective(500px) rotateY(180deg);
 

   
}


.card:hover .front {
   
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .back {
   
    transform: perspective(500px) rotateY(360deg);
}

.card div h1 {
    font-size: 20px;
    color: #f1f1f1;
    
}


.Escudo_Java{
width: 100%;
border-radius: 20px;
position: absolute;
transform: translateZ(60px);

}

.Escudo_Php{
    width: 100%;
    border-radius: 20px;
    transform: translateZ(60px);
}

.Escudo_Angular{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform: translateZ(60px);
}
.Escudo_Bootstrap{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform: translateZ(60px);

}


footer {
 
    color: var(--color-primario);
    display: flex;
    justify-content:center;
    font-size: 1.5 rem;
    
    height: 70px;
    padding-top: 30px;
    font-size: x-large;
    background: rgb(41, 83, 201, 0.6);
}
footer p{
    padding-top: 20px;
}
   
   



/*----------------------Media Query------------------------*/

@media (max-width:1250px){

.header{
    padding: 10%;
}

.header__menu{
    flex-direction:column;
    justify-content: center;
    gap: 30%;
    align-items: center;
}

.general{
    flex-direction:column;
    justify-content: center;
    gap: 30%;
    align-items: center;
}


.footer{

    font-size: small;
    justify-content: center;
    gap: 30%;
    align-items: center;
}
}