@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --color-primario: white;
    --color-segundario: black;
    --color-terciario: #1f88df;

    --fuente-Montserrat: 'Montserrat' sans serif;
    --fuente-krona: 'krona one' sans serif;
}

* {
    padding: 0;
    margin: 0;
}

body {

    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-segundario);
    background: url(../assets/4931029.jpg) no-repeat center top;


}

.header {
    padding: 2% 0 0 15%;

}

.header__menu {
    display: flex;
    gap: 80px;
    


}

.header__menu__link:hover {

    background-color: var(--color-terciario);

}

.header__menu__link {
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5 rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    gap: 1px;


}


.presentacion {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;


}


.foto {
    border-radius: 10px;
    box-shadow: 20px -12px #1f88df;
    width: 50%;


}

.presentacion_contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}



.presentacion__contenido__titulo {
    font-size: 2.25em;
    font-family: var(--fuente-krona);
}

.titulo-destacar {
    color: var(--color-terciario);
}




.presentacion__contenido__texto {
    font-size: 1.5 rem;
    font-family: var(--fuente-montserrat);

}

.presentacion__enlaces {

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__Subtitulos {

    font-family: 'Krone One', sans-serif;
    font-size: 1.5 rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    gap: 10px;

}

.presentacion_contenido_link {

    width: 50%;
    border: 2px solid var(--color-terciario);
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5 rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    gap: 16px;

}



.presentacion__enlaces :hover {
    background-color: var(--color-terciario);

}

.footer {
    color: var(--color-primario);
    display: flex;
    justify-content:center;
    font-size: 1.5 rem;
    background-color: var(--color-terciario);
    height: 70px;
    padding-top: 30px;
    font-size: x-large;
    opacity: .6;
   

}

/*----------------------Media Query------------------------*/

@media (max-width:1250px){

.header{
    padding: 10%;
}

.header__menu{
    flex-direction:column;
    justify-content: center;
    gap: 30%;
    align-items: center;
}

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;

    }
    .presentacion_contenido {
        width: auto;
    }
}